<h1>All Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
<li>
    <% if task.completed %>
      ✅
    <% else %>
    ❌
    <% end %>
    <%= link_to task.title.capitalize, task %>

</li>
  <% end %>
</ul>
<%= link_to 'Add a new Task', tasks_new_path %>
